@(title: String, questionElements:List[models.db.QuestionElements], surveyStandards:models.standards.SurveyStandards, ffpSection: Html)
@import org.json.JSONObject
@import org.apache.commons.lang3.StringUtils
@main("Interface Editor"){
    <div class="interface_view">
        <span class="ques_prop">
            <span class="questions_elements">
                <span class="create_questions">
                    <span class="question_elements_header">
                        <h5>Create Questions</h5>
                    </span>
                    <span>
                        <span class="keys_col">
                            <span class="buttons_header">
                                <h5>Short Keys</h5>
                            </span>
                            <ul class="ul_short_keys">
                                <li>i</li>
                                <li>s</li>
                                <li>m</li>
                                <li>o</li>
                                <li>n</li>
                                <li>e</li>
                                <li>u</li>
                                <li>r</li>
                                <li>g</li>
                                <li>x</li>
                                <li>3</li>
                                <li>l</li>
                            </ul>
                        </span>
                        <span class="keys_col">
                            <span class="buttons_header">
                                <h5>buttons</h5>
                            </span>
                             <ul class="questions_buttons">
                                 <li><a href="#" id="info_button" class="question_button">Info</a></li>
                                 <li><a href="#" id="single_button" class="question_button">Single</a></li>
                                 <li><a href="#" id="multi_button" class="question_button">Multi</a></li>
                                 <li><a href="#" id="openText_button" class="question_button">Open Text</a></li>
                                 <li><a href="#" id="numeric_button" class="question_button">Numeric</a></li>
                                 <li><a href="#" id="openTextList_button" class="question_button">Open Text List</a></li>
                                 <li><a href="#" id="numericList_button" class="question_button">Numeric List</a></li>
                                 <li><a href="#" id="ranking_button" class="question_button">Ranking</a></li>
                                 <li><a href="#" id="grid_button" class="question_button">Grid</a></li>
                                 <li><a href="#" id="multiGrid_button" class="question_button">Multi Grid</a></li>
                                 <li><a href="#" id="dGrid_button" class="question_button">3D Grid</a></li>
                                 <li><a href="#" id="reusableList_button" class="question_button">Reusable List</a></li>
                             </ul>
                        </span>
                    </span>
                </span>
                <span class="assign_elements">
                    <span class="assign_elements_header">
                            <h5>Assign Elements</h5>
                    </span>
                        <span>
                        <span class="keys_col">
                            <span class="buttons_header">
                                <h5>Short Keys</h5>
                            </span>
                            <ul class="ul_short_keys">
                                <li>q</li>
                                <li>z</li>
                                <li>t</li>
                                <li>v</li>
                                <li>a</li>
                                <li>p</li>
                                <li>c</li>
                                <li>o</li>
                            </ul>
                        </span>
                        <span class="keys_col">
                            <span class="buttons_header">
                                <h5>buttons</h5>
                            </span>
                             <ul class="questions_buttons">
                                 <li><a href="#" onclick="getQID();">Qid</a></li>
                                 <li><a href="#" onclick="getQTitle();">Qtitle</a></li>
                                 <li><a href="#" onclick="getQText();">Qtext</a></li>
                                 <li><a href="#" onclick="getQInstruction();">Qinstruction</a></li>
                                 <li><a href="#" onclick="getAnsList();">Ans list</a></li>
                                 <li><a href="#" onclick="getAnsCode();">Ans code</a></li>
                                 <li><a href="#" onclick="getScaleList();">Scale list</a></li>
                                 <li><a href="#" onclick="getScaleCode();">Scale code</a></li>
                             </ul>
                        </span>
                    </span>
                    <span>
                    <a id="act_short_keys">Activate shortcut keys</a>
                    <a id="de_act_short_keys">Deactivate shortcut keys</a>
                </span>
                </span>

            </span>
            <span class="properties">
                <h5>Properties</h5>
                <ul class="properties_list">
                    <li>
                        <label>Field width</label>
                        @if(surveyStandards!= null && !StringUtils.isEmpty(surveyStandards.getFieldWidth().toString())) {
                            <input type="text" class="standards_fields" value="@surveyStandards.getFieldWidth()">
                        }else{
                            <input type="text" class="standards_fields">
                        }
                    </li>
                    <li>
                        <label>Required</label>
                        @if(surveyStandards!= null && !StringUtils.isEmpty(surveyStandards.getRequired())) {
                            <input type="text" class="standards_fields" value="@surveyStandards.getRequired()">
                        }else{
                            <input type="text" class="standards_fields">
                        }
                    </li>
                    <li>
                        <label>Ans Order</label><input type="text" class="standards_fields">
                    </li>
                    <li>
                        <label>Scale Order</label><input type="text" class="standards_fields">
                    </li>
                    <li>
                        <label>Min val</label><input type="text" class="standards_fields">
                    </li>
                    <li>
                        <label>Max val</label><input type="text" class="standards_fields">
                    </li>
                </ul>
                <!--<p>Field width</p>
                <p>Required</p>
                <p>Ans Order</p>
                <p>Scale Order</p>
                <p>Min val</p>
                <p>Max val</p>-->
            </span>
        </span>
        <span class="survey_ffp">
            <h5>Survey FFP</h5>
            @ffpSection
        </span>
        <span class="formatting_area">
            <span class="designing">
                 <span class="designing_title"><h5>Designing</h5></span>
                 <span class="html_formatting"><h6>Area for html formatting</h6></span>
                 <span class="question_fields">
                     <span class="question_field common_field">
                         <label class="questionLabel">Qid</label>
                            <!--<input type="text" id="qidField">-->
                         <span class="questionData" contenteditable="true" id="qidField"></span>
                     </span>
                     <span class="question_field common_field">
                         <label>Qtitle</label>
                         <!--<input type="text">-->
                         <!--<textarea></textarea>-->
                         <span class="questionData" id="qTitleField" contenteditable="true"></span>
                     </span>
                     <span class="question_field common_field">
                         <label class="questionLabel">Qtext</label>
                         <span class="questionData qText_field paraText" id="qTextField" contenteditable="true"></span>
                     </span>
                     <span class="question_field common_field">
                         <label class="questionLabel">Qinstruction</label>
                         <span class="questionData qInstruction_field paraText" id="qInstructionField" contenteditable="true"></span>
                     </span>
                     <span class="question_field common_field">
                         <label class="questionLabel">List name</label>
                         <span class="questionData" contenteditable="true"></span>
                     </span>
                     <!--<span class="ans_span question_field" id="ans_list_field">
                        <span class="ans_list">
                            <label>Ans List</label>
                            <span class="ansList_field paraText" contenteditable="true" id="ansList"></span>
                        </span>
                         <span class="ans_code question_field" id="ans_code_field">
                            <label>Ans Code</label>
                             <span class="ansCode_field" contenteditable="true" id="ansCode"></span>
                        </span>
                     </span>-->
                     <span class="ans_span question_field" id="ans_list_field">
                         <ul id="ans_ul">
                             <li class="ans_row_header">
                                 <span class="ans_option_span_header"><label>Ans list</label></span>
                                 <span class="ans_del_span_header"><label>Delete</label></span>
                                 <span class="ans_code_span_header"><label>Ans Code</label></span>
                             </li>
                         </ul>
                        <!--<table id="ans_table">
                            <tr class="ans_row">
                                <td class="ans_option_td"><label>Ans list</label></td>
                                <td class="ans_del_button_td"><label>Delete</label></td>
                                <td class="ans_code_td"><label>Ans Code</label></td>
                            </tr>
                        </table>-->
                     </span>
                     <span class="ans_span question_field" id="scale_list_field">
                        <span class="scale_list">
                            <label>Scale List</label>
                            <span class="scaleList_field paraText" contenteditable="true" id="scaleList"></span>
                        </span>
                         <span class="scale_code question_field" id="scale_code_field">
                            <label>Scale Code</label>
                            <span class="scaleCode_field" contenteditable="true" id="scaleCode"></span>
                        </span>
                     </span>
                     <span class="question_field" id="validation_field">
                         <label>Validation</label>
                         <input type="text">
                     </span>
                     <span class="question_field save_question" id="">
                         <button onclick="saveQuestion()">SAVE</button>
                         <button onclick="cancelQuestion()">CANCEL</button>
                     </span>
                 </span>
                <input type="button" disabled id="toggleBold" value="Toggle bold" unselectable="on" class="unselectable">
                <input type="button" disabled id="toggleItalic" value="Toggle italic" unselectable="on" class="unselectable">
                <input type="button" disabled id="toggleUnderline" value="Toggle underline" unselectable="on" class="unselectable">
                <!--<input id="toggleBoldButton" value="Toggle bold new" unselectable="on" class="unselectable" type="button">
                <input id="toggleItalicButton" value="Toggle italic new" unselectable="on" class="unselectable" type="button">
                <input id="toggleUnderlineButton" value="Toggle underline new" unselectable="on" class="unselectable" type="button">-->
                <button onclick="getHtml()">getHtml</button>
            </span>
            <span class="created_questions">
                <h5>Questions Created</h5>
            </span>
        </span>
    </div>
    <style>
        .italic {
            font-style: italic;
            display:inline !important;
        }

        .bold {
            font-weight: bold;
            display:inline !important;
        }

        .underline {
            text-decoration: underline;
            display:inline !important;`
        }
    </style>
        <!-- <script src='@routes.Assets.at("javascripts/interfaceView/interface.js")' type="text/javascript"></script>-->
    <script type='text/javascript'>
         var commonArray = [];
          $(document).ready(function() {
            console.log("mike test 123");



            //var commonArray = [];
            var questionSelected;
            var displayFields = [];
            @for(menu<-questionElements) {
                    var myObject = new Object();
                    myObject["type"] = "@menu.getQuestionType()";
                    myObject["qElementType"] = "@menu.getElementType()";
                    myObject["qElementName"] = "@menu.getElementName()";
                    commonArray.push(myObject);
            }
            $('a.question_button').click(function(e) {
                var idValue = $(this).attr('id');
                showType(idValue,commonArray);
            });
            $('#act_short_keys').click(function(e) {
                bindt(commonArray);
            });
            $('#de_act_short_keys').click(function(e) {
                unBindt();
            });
            /*$('#act_short_keys').bind('click', bindt(commonArray));
            $('#de_act_short_keys').bind('click', unBindt);*/

            /*$( "span.survey_ffp" ).each(function() {
                var boldvalue = $( this ).css( "font-weight" );
                console.log(" weight value : "+ boldvalue);
            });*/

          });
          $(document).on('click', '.delete_button_icon', function(){
          $(this).closest('li.ans_row').fadeOut(400, function(){
                $(this).remove();
            });
             //$(this).closest('li.ans_row').remove();
         });

    </script>
    <script src='@routes.Assets.at("javascripts/shortcuts/jquery.hotkeys.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/shortcuts/text-formatting.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/interfaceView/interface.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/rangy/rangy-core.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/rangy/rangy-classapplier.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/rangy/editor.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/strToDom/stringConversion.js")' type="text/javascript"></script>
    <!--<script type="text/javascript" src='@routes.Assets.at("javascripts/rangy/rangy_text/log4javascript.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/rangy/rangy_text/core.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/rangy/rangy_text/dom.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/rangy/rangy_text/domrange.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/rangy/rangy_text/wrappedrange.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/rangy/rangy_text/wrappedselection.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/rangy/rangy_text/rangy-textcommands.txt")'></script>-->


    <script>
         /*$(document).ready(function() {
            console.log("mike test 123");
            //var commonArray = [];
            var questionSelected;
            var displayFields = [];
            @for(menu<-questionElements) {
                    var myObject = new Object();
                    myObject["type"] = "@menu.getQuestionType()";
                    myObject["qElementType"] = "@menu.getElementType()";
                    myObject["qElementName"] = "@menu.getElementName()";
                    commonArray.push(myObject);
            }

            getQuestions(commonArray);
            $('#act_short_keys').bind('click', bindt(commonArray));
            $('#de_act_short_keys').bind('click', unBindt);
         });*/
  </script>
}