.message{
		background-size: 40px 40px;
		background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
							transparent 75%, transparent);
		 box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
		 border: 1px solid;
		 color: #fff;
		 padding: 15px;
		 text-shadow: 0 1px 0 rgba(0,0,0,.5);
		 animation: animate-bg 5s linear infinite;
}

.error {
    margin: -1px !important;
    font-size:11px !important;
    color:red !important;
}

/*.error{
		 background-color: #ea6320 !important;
         border-color: #c43d3d;
         color: #fff !important;
         border: 1px solid #c43d3d !important;
         margin: 0 7% 13px;
         padding: 9px;
         font-weight: 700;
         text-align: left;
         font-size: 16px;
} */

.warning{
		 background-color: #eaaf51;
		 border-color: #d99a36;
}

.success{
		 background-color: #61b832;
		 border-color: #55a12c;
}

.message h3{
		 margin: 0 0 5px 0;
}

.message p{
		 margin: 0;
}

@keyframes animate-bg {
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}