/** import minimal bootstrap variables **/
@import url('bootstrap/_variables.less');
@import url('bootstrap/_mixins.less');
@import url('bootstrap/_reset.less');


body
{
height: 100%;
font-family: 'Arial', sans-serif;
font-weight: normal;
font-size:14px;
}

html {
    height: 100%;

}


.container
{
width:985px;
margin:0px auto 0px auto;
}

ul {
       list-style: none;
       margin: 0;
       li {
            list-style: none;
            text-decoration: none;
       }
 }

 a
 {
   text-decoration: none;
 }

.zoom {
  zoom: 100%;
}

.clear
{
clear:both;
}

