.home
{
    .container
    {
        p{
            display: inline-block;
            width: 200px;
        }
        span{
            display: block;
        }
        .field_width{
            width: 70px;
        }
        select{
            width: 79px;
            margin: 10px 0px 10px 0px;
        }
        textarea{
            margin: 10px 0px 10px 0px;
        }
    }

}