html {
   overflow-x: hidden;
}

.interface_view{
    display:inline-block;
    width:100%
}
.ques_prop{
    display:inline-block;
    width:25%;
}
.survey_ffp{
    width: 43%;
    border: 1px solid #EBEBEC !important;
    min-height: 90%;
    overflow-y: auto !important;
    overflow: auto;
    min-height: 100%;
    position: absolute;
    height: 97%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}
span.questions_elements{
    border: 1px solid #EBEBEC !important;
    margin-bottom: 20px;
    #act_short_keys,#de_act_short_keys{
        width: 47%;
        display: inline-block;
        border: 1px solid rgb(204, 204, 204);
        //background: #ccc;
        text-decoration: none;
        cursor: pointer;
    }
}
.ques_prop span{
    display: inline-block;
    /* float: left; */
    clear: both;
    vertical-align:top;
}
.buttons_header{
    height:40px;
    background:#E5E5E5;
}
ul li{
    list-style-type: none;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
}
ul{
    padding:0px;
    margin:0px;
    width:100%;
    font-size: 12px;
}
ul.questions_buttons{
    li{
        margin-top: 2px;
        margin-bottom: 2px;
       a{
           text-decoration: none;
           border: 1px solid #E5E5E5;
           display:inline-block;
           width:100%;
       }
    }
}
.questions_buttons ul li a:hover{
    background:#E5E5E5;
    //text-decoration: none;
}
h5{
    width:100%;
    margin: 3px;
    text-align: center;
}
.create_questions,.assign_elements{
    width: 48%;
    /*border: 1px solid #EBEBEC;*/
    margin-top: 10px;
    margin-bottom: 10px;
}
.question_elements_header,.assign_elements_header{
    width:100%;
}

.keys_col{
    width:48%;
}
.ul_short_keys{
    margin-top: 1px;
    li{
        text-decoration: none;
        border: 1px solid #E5E5E5;
        display: inline-block;
        width: 100%;
        margin-top: 1px;
        margin-bottom: 1px;
        height: 20px
    }
}
.properties p{
    font-size:12px;
    margin:3px;
}
.properties{
    width: 100%;
    border: 1px solid #EBEBEC;
    padding-bottom: 20px;
}
.properties_list li{
    text-align: left !important;
    margin:5px 0px 5px 3px;
}
.properties input{
    display: inline-block;
    height: 14px;
    padding: 4px 6px;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 20px;
    color: #555555;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    vertical-align: middle;
    width: 30%;
}
label{
    width: 28%;
    display: inline-block;
}
.designing{
    width: 79%;
    display: inline-block;
    border-right: 1px solid #E5E5E5;
}

.created_questions{
    display: inline-block;
    width: 19%;
    vertical-align:top;
}

.formatting_area{
    width: 32%;
    border: 1px solid #EBEBEC !important;
    min-height: 90%;
    min-height: 100%;
    height: 97%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: right;

}
.designing_title,.html_formatting{
    width:100%;
    display:inline-block;
    h6{
        text-align:center;
    }
}
.question_fields{
        span{
        width: 100%;
        display: inline-block;
        label{
            width: 28%;
            display: inline-block;
            font-size: 12px;
            margin-bottom: 0px;
            vertical-align:top;
        }
        }
        .question_field{
            //max-height: 20px;
            margin-bottom: 7px;
            display:none;
            .questionData{
                width: 64% !important;
                height: 20px;
                border: 1px solid #ccc;
                vertical-align: bottom;

            }
            .questionLabel{
                min-height: 20px;
            }
            input[type=text],textarea{
                width: 64% !important;
                height: 20px;
                border: 1px solid #CCC;
                padding: 0px;
                border-radius: 0px;
                margin-bottom: 0px;
            }
            .qText_field{
                height:80px;
                overflow: auto;
            }
            .qInstruction_field{
                height:40px;
                overflow: auto;
            }
            .ansList_field,.ansCode_field,.scaleList_field,.scaleCode_field{
               height:180px;
               overflow: auto;
               width:97%;
               border: 1px solid #CCC;
            }
        }
     .ans_span{
         margin-left: 0px;
         .ans_list,.scale_list{
             width: 77%;
             display: inline-block;
         }
         .ans_code,.scale_code{
             width: 20%;
             display: inline-block;
             label{
                width: 100%;
             }
         }
         .ans_code,.ans_list{
             height: 200px;
             vertical-align: top;
         }
         .scale_code,.scale_list{
             height: 133px;
         }
     }
     #ans_list_field{
        .ans_option_span,.ans_option_span_header{
            width: 68%!important;
            white-space: pre-wrap;
        }
        .ans_del_span,.ans_del_span_header{
            width: 11% !important;
            //border-width:0px 1px 0px 1px;
            //border-color:#ccc;
            //border-style:solid;
            //background:url('../images/delete.png') no-repeat 60% 0%;
        }
        .ans_del_span{
            height: 16px;
            margin: 24px 0px 0px 0px;
            .delete_button_icon{
                background:url('../images/delete.png') no-repeat 60% 0%;
                cursor: pointer;
                height: 16px;
                width: 16px !important;
                display: block;
            }
        }
        .ans_code_span,.ans_code_span_header{
            width: 20%;
            label{
                width: 100%;
            }
        }
        .ans_code_span{
            contenteditable:true;
            height:24px;
            width: 40px !important;
            border: 1px solid !important #ccc;
        }

        ul{
            border-width:1px 0px 1px 0px;
            border-color:#ccc;
            border-style:solid;
            display: inline-block;
            li{
                display: inline-block;
                width: 100%;
                margin: 0px;
                label{
                        text-align:center;
                        width:100%;
                    }
                    span{
                        margin:0px;
                        width:auto!important;
                    }
                }
            }
        }
     }


#ans_list_field,#ans_code_field,#validation_field,#scale_list_field,#scale_code_field{
    display:none;
}
