    <script src='@routes.Assets.at("javascripts/standards/set_standards.js")' type="text/javascript"></script>
<div class="home">

    <div class="container">
        <form action="@controllers.routes.FileConverterController.getHtml()"  method="post"  name="form" enctype="multipart/form-data">
           <h5>Convert DOCX</h5>
            <!--<input type="file" name="ffp" required="required">-->
            <input type="file" class="custom-file-input" name="ffp" required="required">

            <h5>STANDARDS</h5>
                    <span>
                        <p class="required_fields">Field Width</p>
                        <input type="number" class="field_width" name="fieldWidth" id="fieldWidth">
                    </span>
                    <span>
                        <p>Validation:</p>
                        <textarea class="" id="validationCode" name="validations"></textarea>
                    </span>
                    <span>
                        <p class="">Required</p>
                        <select class="" name="required" id="requiredField">
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                    </span>
                    <span>
                        <p class="required_fields">Default Qtext</p>
                            <textarea class="" id="questionCode" name="defaultQText"></textarea>
                            <!--<input type="text" class="form-control field_width" name="fieldWidth" id="fieldWidth" value="3" class="fwSpan">-->
                    </span>
                    <span>
                        <p class="required_fields">Default Qinstruction</p>
                            <textarea class="" id="qInstruction" name="defaultQInstruction"></textarea>
                            <!--<input type="text" class="form-control field_width" name="fieldWidth" id="fieldWidth" value="3" class="fwSpan">-->
                    </span>
                    <span>
                        <p class="">Recoding</p>
                        <select class="" name="recoding" id="recoding">
                            <option value="no">No</option>
                            <option value="yes">Yes</option>
                        </select>
                    </span>
                    <span>
                        <p class="">Drop out</p>
                        <select class="" name="dropOut" id="drop_out">
                            <option value="no">No</option>
                            <option value="yes">Yes</option>
                        </select>
                    </span>
                    <span>
                        <p class="">hNoAnswer/hqincompletes</p>
                        <select class="" name="hNoQ" id="hNoAnswer">
                            <option value="no">No</option>
                            <option value="yes">Yes</option>
                        </select>
                    </span>
                    <span>
                        <p class="">Qtitle same as Qid</p>
                        <select class="" name="qTitleFormat" id="qTitle">
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                    </span>
            <br><br><input type="submit">
        </form>
    </div>

</div>